

@font-face {
   font-family:'Calibri';
   font-style: normal;
   font-weight: normal; /* 400 */ 
   /* src:  url('font/Calibri_Regular.ttf') format('truetype'); */
   /* src:  url('/FazalTamiz/font/Cafe_Matcha.ttf') format('truetype'); */
   src:  url('../../../font/Cafe_Matcha.ttf') format('truetype');
   
   
}

@font-face {
   font-family:'Calibri';
   font-style: normal;
   font-weight: 1000;
   /* src:  url('font/Calibri_Bold.ttf') format('truetype'); */ 
   /* src:  url('font/Cafe_Matcha.ttf') format('truetype'); */
   src:  url('../../../font/Cafe_Matcha.ttf') format('truetype');
}

@font-face {
   font-family:'YArial';
   font-style: normal;
   font-weight: normal;
   src:  url('font/arial.ttf') format('truetype');
}
@font-face {
   font-family:'XArial';
   font-style: normal;
   font-weight: normal;
   src:  url('../../../font/arial.ttf') format('truetype');
}

html {
	margin:0;
	padding:0;
	/* width:21cm;
	height:29cm; */
	
}

/* Body wird zu #body ?*/

body {
	position: relative;
	width: calc (100% - 4cm); /* $210mm */
	height: 277mm;
	max-width: 210mm;
  
  
	margin-left: 2cm;
	margin-right:2cm; /* 50px; */
	margin-top: 10mm;
	margin-bottom: 10mm;
	
	font-family:XArial,Calibri,Tahoma; 
	font-size:10pt;

	/* border: white 1px solid; /* sonst wird alles zusammengeschoben */  
	
	/* color: red;  */
	
	
}
div#transarent {
	background-color: #FFFFFF;
	opacity: 0.8;
}
div#rechts {
	position: absolute;
	right: 0px; /* #10px; */
	top: 0px;

	padding: 0px; /* 10px;*/
	margin-top: 0px;
	margin-right: 0px; /* #50px; */
	margin-bottom: 0px;
	
	/* border: green 1px solid; */
}

div#rechts img {
	height:100px;
}

div#rechts p {
	margin-top: 20px;
	color:#0080e0;
}
	
div#absender {
	margin-top:150px;
	width:350px;
	height:50px;
	font-size:20px;
	color:black;
	font-weight:1000;
}
div#absender div {
	font-size:12px;
	border-bottom:#0080d0 solid 1px;
	color:#0080e0;
	text-align:center;
}
	
div#daten {
	position: absolute;
	right: 0px; /* 10px */
	width: 300px;
	
	font-size:12px;

	border:#0080d0 solid 2px;
	
	padding: 5px;
	margin-top: 40px;
	margin-right: 0px; /* 50px; */
	margin-bottom: 0px;
}
div#betreff {
	margin-bottom: 20px;
	font-size:24px;
	font-weight: 1000;
}
#foot {
	font-size: 8px;
	position: absolute;
	bottom: 0;
	width:100%;
}
#foot table {
	border-spacing: 0px;
	margin:0;
	padding:0;
}
#foot table tr td {
	font-size: 8px;
	line-height: 1em;
	font-family: Arial;
	margin: 0;
	padding:0;
	/* color: red; */
}
td {
	background-color:transparent;
	vertical-align:top;
	white-space:nowrap;
}

table#disp {
	border: 1px solid silver;
}

table#disp tr td {
	padding: 5px;
	border: 1px solid silver;
}
table#disp tr td td {
	padding: 0px;
	border: 0px solid silver;
}
	
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
@page { 
	size: A4;
	margin: 0cm; 
}

@media print {
	body {
		/* display: block; */
	}
	
	button:hover {
		display: none !important;
	}
}
/*
#Blaufarben
#89cff0. Babyblau

#0070c0 linien der Tabelle Positionen
#8db4e2 Helles Blau bei überschriften

Schriften duerfen keine Leerzeichen enthalten
*/
