button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

    outline: none;
    border: 1px solid var(--button-border);
    font-weight: 400;
    font-size: 0.75rem;
    margin: 4px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.buttons.movement button {
    min-width: 90px;
}
.buttons.type button {
    min-width: 150px;
}
.buttons.full button {
    min-width: calc(100% - 8px);
}
.buttons button:hover {
    box-shadow: 2px 2px 4px rgba(255,0,0,0.5);
}