/*
Die Deymanns Outift
*/
body {
    background: var(--company-color);
}

.calendar section>div>span:not(.trans25){
    --color: var(--button-border);
    text-shadow: 
    -1px -1px 0 var(--color), 
    1px -1px 0 var(--color), 
    -1px 1px 0 var(--color), 
    1px 1px 0 var(--color);
}
