@font-face {
    font-family: "Overlock";
    src: url("Overlock-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Overlock";
    src: url("Overlock-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Overlock";
    src: url("Overlock-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Overlock";
    src: url("Overlock-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Overlock";
    src: url("Overlock-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Overlock";
    src: url("Overlock-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  